doctype html
html
  head
    meta(charset="utf-8")
    title assignment Tester Static
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css")
    style
      | #uploadForm{
      |     padding-top: 20px;
      |     display: flex;
      |     justify-content: space-between;
      | }
      | input.btn{
      |     flex: 0.8;
      | }
      | button.btn{
      |     flex: 0.15;
      | }
  body
    .container
      form(action="/submit/Java/6501a626ad49522fe6045c8e", method="post", enctype="multipart/form-data")
        input(type="file", name="files", class="btn btn-primary", id="file", multiple)
        button.btn.btn-primary(type="submit", style="border-radius: 4px;")
          | Upload
    script(type="text/javascript").
      document.getElementById("file").value = "";
